In [2]:
import pandas as pd

In [8]:
df = pd.read_pickle("assets/binary/reduced_embeddings_3d/pca_magpie_mean.pkl")
df

                 0           1          2
Am4B5   657.457641   28.810460  25.516478
CaDy8   332.607645  -42.396021 -15.645535
CaLu7   544.290844  -44.430000  -6.662106
Ti5Pt8  713.154074   -1.833271  -5.576972
Bk5Tl2 -178.036232 -114.086763   2.072106
...            ...         ...        ...
Fr5Zr3  266.845711  -82.657107 -20.960344
Al5Rn3 -630.891032   19.678241 -35.409002
Ce3Er5  218.989831  -54.607230 -15.065874
Ra5Pt2   -8.667410 -116.609273 -44.756758
U5Nb7   900.556934  -28.497860  39.359557

[200208 rows x 3 columns]

In [9]:
df.join(df_label)

                 0           1          2  smact_allowed  mp_data  label
Am4B5   657.457641   28.810460  25.516478          False    False      0
CaDy8   332.607645  -42.396021 -15.645535          False    False      0
CaLu7   544.290844  -44.430000  -6.662106          False    False      0
Ti5Pt8  713.154074   -1.833271  -5.576972          False    False      0
Bk5Tl2 -178.036232 -114.086763   2.072106          False    False      0
...            ...         ...        ...            ...      ...    ...
Fr5Zr3  266.845711  -82.657107 -20.960344          False    False      0
Al5Rn3 -630.891032   19.678241 -35.409002          False    False      0
Ce3Er5  218.989831  -54.607230 -15.065874          False    False      0
Ra5Pt2   -8.667410 -116.609273 -44.756758          False    False      0
U5Nb7   900.556934  -28.497860  39.359557          False    False      0

[200208 rows x 6 columns]

In [15]:
df_mp.index

Index(['Ac2Mg', 'Ac2O3', 'Ac2S3', 'Ac3Ag', 'Ac3Au', 'Ac3Br', 'Ac3Cd', 'Ac3Ce',
       'Ac3Cl', 'Ac3Cr',
       ...
       'ZrTi2', 'ZrTi3', 'ZrTi', 'ZrU3', 'ZrU', 'ZrV2', 'ZrW2', 'ZrZn2',
       'ZrZn3', 'ZrZn'],
      dtype='object', length=10220)

In [6]:
df_label = pd.read_pickle("assets/binary/df_binary_label.pkl")
df_label

        smact_allowed  mp_data  label
Am4B5           False    False      0
Cf7Al6          False    False      0
CaDy8           False    False      0
CaLu7           False    False      0
Ti5Pt8          False    False      0
...               ...      ...    ...
Al5Rn3          False    False      0
Ce3Er5          False    False      0
Fm7Br4          False    False      0
Ra5Pt2          False    False      0
U5Nb7           False    False      0

[225879 rows x 3 columns]

In [7]:
df_mp = pd.read_pickle("assets/binary/df_binary_mp.pkl")
df_mp

,formula_anonymous,volume,density,density_atomic,energy_per_atom,formation_energy_per_atom,energy_above_hull,is_stable,band_gap,efermi,total_magnetization,structure
Ac2Mg,AB2,234.25000,6.781250,39.031250,-3.310547,-0.029816,0.020172,False,0.000000,5.296875,1.244141e+00,"{'@module': 'pymatgen.core.structure', '@class..."
Ac2O3,A2B3,91.50000,9.109375,18.296875,-8.351562,-3.738281,0.000000,True,3.523438,4.695312,0.000000e+00,"{'@module': 'pymatgen.core.structure', '@class..."
Ac2S3,A2B3,1118.00000,6.535156,27.953125,-6.589844,-2.458984,0.000000,True,2.273438,4.847656,0.000000e+00,"{'@module': 'pymatgen.core.structure', '@class..."
Ac3Ag,AB3,150.62500,8.695312,37.656250,-3.712891,0.086304,0.213379,False,0.000000,5.695312,1.251698e-04,"{'@module': 'pymatgen.core.structure', '@class..."
Ac3Au,AB3,144.25000,10.109375,36.062500,-4.007812,-0.097961,0.131714,False,0.000000,6.253906,1.881599e-03,"{'@module': 'pymatgen.core.structure', '@class..."
...,...,...,...,...,...,...,...,...,...,...,...,...
ZrV2,AB2,198.62500,6.457031,16.562500,-8.875000,0.032562,0.032562,False,0.000000,4.949219,6.323242e-01,"{'@module': 'pymatgen.core.structure', '@class..."
ZrW2,AB2,111.43750,13.679688,18.562500,-11.632812,-0.145874,0.000000,True,0.000000,5.390625,1.788139e-07,"{'@module': 'pymatgen.core.structure', '@class..."
ZrZn2,AB2,99.56250,7.406250,16.593750,-3.992188,-0.302490,0.000000,True,0.000000,3.587891,2.207031e+00,"{'@module': 'pymatgen.core.structure', '@class..."
ZrZn3,AB3,128.25000,7.445312,16.031250,-3.371094,-0.289795,0.000000,True,0.000000,3.513672,9.179115e-05,"{'@module': 'pymatgen.core.structure', '@class..."
ZrZn,AB,36.71875,7.085938,18.359375,-5.191406,-0.287109,0.000000,True,0.000000,3.746094,0.000000e+00,"{'@module': 'pymatgen.core.structure', '@class..."

In [24]:
df_mp.loc["CuH"][
    [
        "formula_anonymous",
        "volume",
        "density",
        "density_atomic",
        "energy_per_atom",
        "formation_energy_per_atom",
        "energy_above_hull",
        "is_stable",
        "band_gap",
        "efermi",
        "total_magnetization",
    ]
]

formula_anonymous                  AB
volume                       31.46875
density                        6.8125
density_atomic               7.867188
energy_per_atom             -3.697266
formation_energy_per_atom    0.048553
energy_above_hull            0.048553
is_stable                       False
band_gap                     0.572754
efermi                       5.894531
total_magnetization               0.0
Name: CuH, dtype: object

In [31]:
# new dataframe with formula as column
pd.DataFrame(
    df_mp.index,
    columns=["formula"],
)

      formula
0       Ac2Mg
1       Ac2O3
2       Ac2S3
3       Ac3Ag
4       Ac3Au
...       ...
10215    ZrV2
10216    ZrW2
10217   ZrZn2
10218   ZrZn3
10219    ZrZn

[10220 rows x 1 columns]